body { 
	font-size: ($font-size-base / 16px) * 100%;
	font-family: $font-family-primary;
	color: $color-body;
	background: $color-bg-main;
}


.logo {
	display: block;
	width: $logo-width;
	a {
		display: block;
		width: $logo-width;
		height: $logo-height;
		text-indent: -9999em;
		background: $logo-url no-repeat left center;
		overflow: hidden;
	}
}

.bar-top {
	$bartopHeight: 30px;
	background: black;
	.col16 {
		height: $bartopHeight;
		background: url(../images/tmp/chequeando.png) no-repeat 10px center;
	}
	ul {
		float: right;
		height: $bartopHeight;
		li {
			float: right;
			height: $bartopHeight;
			line-height: $bartopHeight;
			margin: 0 0 0 10px;
			a {
				font-weight: bold;
				text-transform: uppercase;
				font-size: em(11px);
				height: $bartopHeight;
				line-height: $bartopHeight;
				color: #7c7c7c;
				@include transition(all $transition);
				&:hover {
					color: white;
				}
			}
		}
	}
	@include breakpoint($max, $l-screen) {
		padding-right: 50px;
		padding-left: 50px;
	}
	@include breakpoint($max, $m-screen) {
		padding-right: 20px;
		padding-left: 20px;
		ul {
			display: none;
		}
	}
	@include breakpoint($max, $xs-screen) {
		padding-right: 10px;
		padding-left: 10px;
	}
}

header {

	position: relative;
	background: $color-primary;
	min-height: 90px;
	
	@include breakpoint($max, $l-screen) {
		padding-right: 50px;
		padding-left: 50px;
	}
	@include breakpoint($max, $m-screen) {
		padding-right: 20px;
		padding-left: 20px;
	}
	@include breakpoint($max, $s-screen) {
		min-height: 60px;
	}
	@include breakpoint($max, $xs-screen) {
		padding-right: 10px;
		padding-left: 10px;
	}

	.logo {
		height: 90px;
		float: left;
		a {
			margin: 25px 0 0;
		}
		@include breakpoint($max, $s-screen) {
			height: 60px;
			a {
				margin: 10px 0 0;
			}
		}
	}

	.btn-collapse {
		width: 90px;
		height: 90px;
		text-indent: -9999em;
		display: none;
		@include position(absolute, 0 0px 0px 0);
		i {
			@include position(absolute, 50% 0 0 50%);
			color: white;
			margin: -8px;
		}
		@include breakpoint($max, $s-screen) {
			width: 60px;
			height: 60px;
		}
		@include breakpoint($max, $m-screen) {
			display: block;
		}
	}



	form {
		width: 250px;
		height: 40px;
		float: left;
		position: relative;
		margin: 25px 0 0 30px;
		@include transition(width $transition);
		@include breakpoint($max, 1050px) {
			width: 180px;
		}
		@include breakpoint($max, $m-screen) {
			display: none;
		}
		i {
			@include position(absolute, 50% 0 0 15px);
			margin: -8px 0;
			z-index: 1;
			color: $color-body;
		}
		input {
			position: relative;
			width: 100%;
			height: 40px;
			font-size: em(15px);
			font-weight: 300;
			padding: 0 20px 0 (15px + 16px + 8px);
			color: $color-secondary;
			@include prefix(border-radius, 20px);
			z-index: 0;
			&::-webkit-input-placeholder {
			   color: $color-body;
			}
			&:-moz-placeholder {
			   color: $color-body;  
			}
			&::-moz-placeholder {
			   color: $color-body;  
			}
			&:-ms-input-placeholder {  
			   color: $color-body;  
			}
		}
	}

	nav {
		float: right;
		padding: 25px 0;
		a {
			margin: 0 0 0 24px;
			&.nav-item {
				position: relative;
				display: inline-block;
				float: left;
				height: 40px;
				line-height: 40px;
				font-size: em(14px);
				font-weight: bold;
				color: lighten($color-primary, 40%);
				@include transition(color  $transition);
				&:hover {
					color: white;
				}
				&.active {
					color: white;
					&:after {
						content: "";
						@include position(absolute, -8px 0 0 50%);
						width: 8px;
						height: 8px;
						background: white;
						@include prefix(border-radius, 50%);
						margin: 0 -4px;
					}
				}
				&:first-child {
					margin: 0;
				}
			}
			&.btn {
				float: left;
				margin-top: 5px;
				background: white;
				color: $color-primary;
				&:hover {
					background: darken($color-primary, 5%);
					color: white;
				}
			}
		}
		form {
			display: none;
		}
		@include breakpoint($max, $m-screen) {
			float: none;
			width: 100%;
			padding: 0;
			form {
				display: inline-block;
				float: none;
				width: 100%;
				margin: 20px 0 0 0;
			}
			a {
				&.nav-item {
					display: block;
					float: none;
					margin: 0;
					height: 50px;
					line-height: 50px;
					border-bottom: 1px solid lighten($color-primary, 5%);
					&.active {
						&:after {
							display: none;
						}
					}
				}
				&.btn {
					display: block;
					float: none;
					margin: 20px 0 0 0;
					background: darken($color-primary, 5%);
					color: white;
					&:hover {
						background: white;
						color: $color-primary;
					}
				}
			}
		}
	}




}





















.row {
	width: $grid-width;
	margin: 0 auto;
	@include breakpoint($max, $l-screen) {
		width: auto;
		margin: 0;
	}
}

.row-module {

	padding: $row-module 0;

	@include breakpoint($max, $l-screen) {
		padding-right: 50px;
		padding-left: 50px;
	}
	@include breakpoint($max, $m-screen) {
		padding: 15px 20px;
	}
	@include breakpoint($max, $xs-screen) {
		padding: 10px;
	}
	&.row-white {
		background: white;
	}
	.row {
		padding: $row-module 0;
		@include breakpoint($max, $m-screen) {
			padding: 15px 0;
		}
		@include breakpoint($max, $xs-screen) {
			padding: 10px 0;
		}
		.heading {
			margin: 0 0 $row-module 0;
			@include breakpoint($max, $xs-screen) {
				margin-bottom: 20px;
			}
			h3 {
				color: $color-title;
			}
		}
	}
}

.row-table {
	display: table;
	width: 100%;
	.row-cell {
		display: table-cell;
		vertical-align: middle;
	}
}






.mask-image {
	@include position(absolute, 0px 0px 0px 0px);
	background: url(../images/featured/01.jpg) no-repeat center center;
	background-size: cover;
	z-index: 0;
	@include opacity(.2);
}








section {

	&.section-featured {
		padding-top: 0;
		padding-bottom: 0;
		position: relative;
		background: $color-secondary;
		.share-social {
			text-align: center;
			padding: 80px 0 0 0;
			color: white;
			li {
				display: inline-block;
				margin: 0 20px;
			}
		}
		.ctrl-down {
			display: block;
			width: 40px;
			height: 40px;
			@include position(absolute, 0 0 30px 50%);
			margin: 0 -20px;
			i {
				@include position(absolute, 50% 0 0 50%);
				margin: -16px;
				color: white;
			}
			z-index: 1;
		}
		.row {
			position: relative;
			z-index: 1;
			.heading {
				h1 {
					color: white;
				}
				h2 {
					color: lighten($color-secondary, 35%);
					margin: 40px 0;
					@include breakpoint($max, $m-screen) {
						margin: 20px 0;
					}
				}
			}
			form {
				position: relative;
				height: 60px;
				margin: 0 auto;
				width: column-flex(10);
				@include breakpoint($max, $m-screen) {
					width: column-flex(16);
				}
				i {
					@include position(absolute, 50% 0 0 20px);
					margin: -18px 0;
					z-index: 1;
					color: $color-secondary;
				}
				input {
					font-weight: 300;
					&.input {
						position: relative;
						width: 100%;
						height: 60px;
						z-index: 0;
						font-size: em(24px);
						padding: 0 126px 0 65px;
						color: $color-secondary;
						@include prefix(border-radius, 30px);
						&::-webkit-input-placeholder {
						   color: $color-secondary;
						}
						&:-moz-placeholder {
						   color: $color-secondary;  
						}
						&::-moz-placeholder {
						   color: $color-secondary;  
						}
						&:-ms-input-placeholder {  
						   color: $color-secondary;  
						}
					}
					&.input-submit {
						@include position(absolute, 6px 6px 0 0);
						width: 100px;
						height: 48px;
						background: $color-primary;
						color: white;
						text-transform: uppercase;
						font-weight: bold;
						font-size: em(13px);
						@include prefix(border-radius, 24px);
						z-index: 1;
					}
				}


				@include breakpoint($max, $m-screen) {
					height: 40px;
					i {
						width: 16px;
						height: 16px;
						font-size: 16px;
						margin: -8px 0;
						left: 15px;
					}
					input {
						&.input {
							height: 40px;
							font-size: em(15px);
							padding-left: 39px;
							padding-right: 90px;
						}
						&.input-submit {
							width:80px;
							height: 34px;
							top: 3px;
							right: 3px;
						}
					}
				}



			}
			.form-advanced {
				padding: 20px 0 0 0;
				text-align: center;
				a {
					color: lighten($color-secondary, 55%);
					@include transition(color $transition);
					font-weight: bold;
					&:hover {
						color: lighten($color-secondary, 80%);
					}
				}
			}
		}
	}

	&.section-steps {


		
		.col4 {
			@include breakpoint($max, $s-screen) {
				width: column-flex(16);
				margin-left: column-flex(0);
				margin-bottom: $grid-gutter-width * 2;
				text-align: center;
				&:last-child {
					margin: 0;
				}
			}
			@include breakpoint($max, $xs-screen) {
				margin-bottom: $grid-gutter-width;
			}
		}
		

		span {
			position: relative;
			display: block;
			width: 100px;
			height: 100px;
			background: $color-bg-main;
			@include prefix(border-radius, 50%);
			margin: 0 auto 20px;
			i {
				@include position(absolute, 50% 0 0 50%);
				color: $color-primary;
				margin: -16px;
			}
		}
		h6 {
			color: $color-title;
			font-weight: bold;
			font-size: em(16px);
			margin: 0 0 10px;
			line-height: 1.5em;
			strong {
				color: $color-primary;
			}
		}
		p {
			line-height: 1.5em;
		}
		.btn {
			margin: 10px auto 0 auto;
		}
	}

	&.section-profile {

		&.row-module {
			padding-top: 0;
			padding-bottom: 0;
			@include breakpoint($max, $xs-screen) {
				padding: 0;
			}
			.row {
				padding-top: 0;
				padding-bottom: 0;
			}
		}

		.profile-aside {

			padding-top: $row-module * 2;
			padding-bottom: $row-module * 2;

			@include breakpoint($max, $m-screen) {
				width: column-flex(16);
				padding-top: 30px;
				padding-bottom: 30px;
			}
			@include breakpoint($max, $xs-screen) {
				padding: 20px 0;
			}

			.profile-header {
				padding: 0 0 $row-module;
				text-align: center;
				figure {
					@extend figure.avatar;
					width: 140px;
					height: 140px;
					margin: 0 auto 20px;
				}
				h2 {
					font-weight: bold;
					font-size: em(18px);
					color: $color-title;
					margin: 0 0 4px;
				}
				h3 {
					font-size: em(15px);
				}
				@include breakpoint($max, $xs-screen) {
					padding: 0 20px 20px;
					figure {
						width: 80px;
						height: 80px;
						margin: 0 auto 10px;
					}
				}
			}

			ul.profile-info {
				padding: ($row-module - 10px) 0;
				border-top: 1px solid darken($color-bg-main, 8%);
				border-bottom: 1px solid darken($color-bg-main, 8%);
				font-weight: 300;
				li {
					padding: 10px 20px 10px 0;
					line-height: 1.5em;
					label {
						display: block;
						padding: 0 0 3px;
						color: lighten($color-body, 20%);
					}
					a {
						@extend .link-primary;
					}
					p {
						font-weight: normal;
					}
				}
				@include breakpoint($max, $m-screen) {
					border-top: none;
					border-bottom: none;
				}
				@include breakpoint($max, $xs-screen) {
					padding: 15px 0;
					li {
						padding: 5px 0;
					}
				}
			}

			nav {
				padding: $row-module 0 0;
				@include breakpoint($max, $xs-screen) {
					padding: 20px 0 0;
				}
				.btn-success {
					margin: 0 0 ($row-module - 10px);
					@include breakpoint($max, $s-screen) {
						display: block;
					}
				}
				h6 {
					font-size: em(12px);
					font-weight: 300;
					margin: 0 0 10px;
					color: lighten($color-body, 20%);
				}
				ul {
					margin: 0 0 20px;
					li {
						a {
							position: relative;
							display: block;
							font-weight: 300;
							color: $color-body;
							padding: 10px 20px 10px 26px;
							i {
								@include position(absolute, 50% 0 0 0px);
								margin: -8px 0;
							}
							@include transition(color $transition);
							&:hover {
								color: $color-primary;
							}
						}
					}
					&:last-child {
						margin: 0;
					}
				} 
			}
		}
		.col12 {
			.content {
				.col10 {
					float: none;
				}
			}
			@include breakpoint($max, $m-screen) {
				width: column-flex(16);
			}
			@include breakpoint($max, $xs-screen) {
				padding: 0;
			}
		}
	}
}



.section-options {
	.row {
		padding: 0;
	}
}

.content {
	$padding-content: column(1) + ($grid-gutter-width / 2);
	background: white;
	padding: $padding-content;

	@include breakpoint($max, $m-screen) {
		padding: 30px 20px;
	}
	@include breakpoint($max, $xs-screen) {
		padding: 20px 10px;
	}

	.filters {
		position: relative;
		padding: 0 ($padding-content + 10px);
		margin: 0 $padding-content * -1 ($row-module * 2);
		border-bottom: 1px solid darken($color-bg-main, 5%);
		a {
			height: 50px;
			line-height: 50px;
		}
		@include breakpoint($max, $m-screen) {
			padding: 0 30px;
			margin: 0 -20px 30px;
			border-bottom: none;
			a {
				height: 40px;
				line-height: 40px;
			}
		}
		@include breakpoint($max, $xs-screen) {
			padding: 0 20px;
			margin: 0 -10px 20px;
		}
	}

	.col10,
	.col14 {
		@include breakpoint($max, $l-screen) {
			width: column-flex(16);
		}
	}
	.col2 {
		@include breakpoint($max, $l-screen) {
			width: column-flex(3);
		}
	}
	.col8 {
		@include breakpoint($max, $l-screen) {
			width: column-flex(13);
		}
	}
}


footer {
	background: $color-secondary;
	color: lighten($color-secondary, 25%);
	hr {
		height: 1px;
		background: lighten($color-secondary, 5%);
		margin: 40px 10px;
		@include breakpoint($max, $m-screen) {
			margin: 30px 10px;
		}
		@include breakpoint($max, $xs-screen) {
			margin: 20px 10px;
		}
	}
	.logo {
		margin: 0 0 10px;
		@include opacity(.4);
		@include breakpoint($max, $m-screen) {
			margin: 0 auto 10px;
		}
	}
	.col16 {
		h6 {
			font-weight: bold;
			text-transform: uppercase;
			margin: 0 0 10px 0;
		}
	}
	.credits {
		p {
			line-height: 1.5em;
			margin: 0;
			a {
				color: lighten($color-secondary, 25%);
				@include transition(color $transition);
				font-weight: bold;
				&:hover {
					color: white;
				}
			}
		}
		hr {
			width: 10px;
			height: 2px;
			background: lighten($color-secondary, 25%);
			margin: 10px 0;
			@include breakpoint($max, $m-screen) {
				margin: 10px auto;
			}
		}
		nav {
			padding: 20px 0 0 0;
			a {
				float: right;
				color: white;
				font-weight: bold;
				display: inline-block;
				margin: 0 0 0 15px;
				font-size: em(14px);
				@include transition(color $transition);
				&:hover {
					color: lighten($color-secondary, 25%);
				}
				@include breakpoint($max, $m-screen) {
					float: none;
					margin: 0 8px;	
				}
				@include breakpoint($max, $xs-screen) {
					display: block;
					margin: 0 0 10px;
					&:last-child {
						margin: 0;
					}
				}
			}
		}
	}

	@include breakpoint($max, $m-screen) {
		text-align: center;
		.col9 {
			width: column-flex(16);
		}
		.col6 {
			width: column-flex(16);
			margin-left: column-flex(0);
		}
	}

}

nav {
	&.filters {
		position: relative;
		a {
			display: inline-block;
			float: left;
			margin: 0 25px 0 0;
			height: 30px;
			line-height: 30px;
			text-transform: uppercase;
			font-weight: bold;
			color: inherit;
			font-size: em(13px);
			border-bottom: 1px solid transparent;
			color: lighten($color-body, 20%);
			@include transition(color $transition);
			&:last-child {
				margin: 0;
			}
			&:hover {
				color: $color-title;
			}
			&.active {
				color: $color-title;
				border-bottom-color: $color-primary;
			}
		}
		@include breakpoint($max, $m-screen) {
			a {
				float: none;
				display: block;
				margin: 0;
				border-bottom: 1px solid darken($color-bg-main, 5%);
			}
		}
	}
}

ul.filters-options {
	> li {
		float: left;
		margin: 0 5px 0 0;
		@include breakpoint($max, $s-screen) {
			float: none !important;
			margin: 0 0 5px;
			&.dropdown {
				.dropdown-toggle {
					display: block;
				}
				.dropdown-menu {
					right: 0px;
					left: 0px;
				}
			}
			.btn {
				display: block;
			}
		}
	}
}

.wiremap {
	margin: 0 0 ($row-module * 2);
	@include breakpoint($max, $m-screen) {
		margin: 0 0 30px;
	}
	@include breakpoint($max, $xs-screen) {
		margin: 0 0 20px;
	}
}