strong {
	font-weight: bold;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.acenter {
  text-align: center !important;
}
.aright {
  text-align: right !important;
}
.nofloat {
  float: none !important;
}
.nopadding {
  padding: 0 !important;
}
em {
  font-style: oblique;
}
hr {
	margin:0;
	padding:0;
	border: none;
}